GOOGLE_SHEETS_GUESTS_CSV_URL=https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/export?format=csv&gid=0
GOOGLE_SHEETS_RSVP_WEBHOOK_URL=https://script.google.com/macros/s/APPS_SCRIPT_DEPLOYMENT_ID/exec
